.App {
  text-align: center;
  background-color: #ebe5dc;
  min-height: 100vmin;
}
.home-button {
  all: unset;
  position: absolute;
  left: 0;
  top: 0;
}
#App-logo {
  max-height: 8vh;
  pointer-events: none;
  align-items: flex-start;
  justify-content: left;
  margin: 10%;
}
.App-header {
  background-color: #302a27;
  min-height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  font-weight: bold;
  color: #fffff9;
}
.App-navigation {
  background-color: #4e4b44;
  min-height: 4vh;
  display: flex;
  color: white;
  margin: 0%;
  justify-content: flex-end; 
}
.App-pages {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: calc(5px + 2vh);
  align-content: center;
}
.App-pages:hover {
  color: #D3D2D1;
}
.App-mainContent {
  background-color: #fffff9;
  min-height: 80vh;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
}
#jsx-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-title {
  font-size: 10vh;
  font-weight: bolder;
}
#home-text {
  font-size: 2vh;
}
#home-gs-text{
  font-size: 5vh;
  font-weight: bold;
}
.gs-button {
  all: unset;
  margin: 10px;
  background-color: #FF443A;
  border-radius: .2cm;
  color: white;
  padding: 1vh;
}
.gs-button:hover {
  background-color: #FF1407;
}
#gs-buttons {
  color: white;
  text-decoration: none;
  font-size: 2vh;
  font-weight: bold;
  align-items: center;
  padding: 1vh;
}

.forms {
  margin: 10px;
  min-width: 45vh;
  border-radius: .1cm;
  border: 1px solid #4e4b44;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
}
.form-button {
  all: unset;
  margin: 10px;
  background-color: #FF443A;
  border-radius: .2cm;
  padding: 1vh;
  color: white;
  font-size: medium;
}
.form-button:hover {
  background-color: #FF1407;
}
#form-input-title {
  padding: 10px;
  display: flex;
}

.button-delete {
  all: unset;
  background-color: #302a27;
  padding: 7px;
  border-radius: .2cm;
}
.button-approve {
  all: unset;
  background-color: #FF443A;
  padding: 7px; 
  
  border-radius: .2cm;
  border: white;  
}
.button-decline {
  all: unset;
  background-color: #4e4b44;
  padding: 7px;
  margin-left: 1vh;
  margin-right: 1vh;
  border-radius: .2cm;
  
}
#button-detail {
  text-decoration: none;
  color: white;
}
#button-detail:disabled {
  background-color: #A7A5A2;
  color: #D3D2D1;
}


.table {
  width: 100%;
  background-color: #fffff9;
  overflow: auto; 

}
.table tr:hover {
  background-color: #ebe5dc;
  overflow: auto;
}
.table th{
  background-color: #302a27;
  color: #ebe5dc;
  border: 2px solid #302a27;
  text-align: center;
  overflow: auto;
}

.table tr{
  overflow: auto;
}

.table td {
  border: 2px solid #ebe5dc;
  overflow: auto;
  
}



