.App {
  text-align: center;
  background-color: #ebe5dc;
  min-height: 100vmin;
}

.home-button {
  all: unset;
  position: absolute;
  left: 0;
  top: 0;
}
#App-logo {
  max-height: 6vmin;
  pointer-events: none;
  align-items: flex-start;
  justify-content: left;
  margin: 10%;

}

.App-header {
  background-color: #302a27;
  min-height: 8vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: calc(2vmin);
  color: #fffff9;
}


.App-navigation {
  background-color: #4e4b44;
  min-height: 4vh;
  display: flex;
  color: white;
  margin: 0%;
  text-align: center;
  justify-content: end;
  
}

.App-pages {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: .7cm;
  align-content: center;
}

.App-mainContent {
  background-color: #fffff9;
  min-height: 80vh;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
  justify-content: center;
  align-content: space-around;
}

.jsx-content {
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.gs-button {
  background-color: #FF443A;
  border: none; 
  padding: 10px;
  margin: 10px;
  border-radius: .6cm;

  justify-content: center;
}

#link {
  text-decoration: none;
  color: white; 
  font-size: larger;
}


.Main-Table {
  padding-top: 10px;
  padding-top: 10px;
  text-align: left;
  border: 1px solid #302a27;
}
#table-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

#table-data td,
#table-data th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table-data tr:nth-child(even) {
  background-color: #fffff9;
}

#table-data tr:hover {
  background-color: #ebe5dc;
}

#table-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #302a27;
  color: white;
}


